Driving Bellabeat’s Marketing Strategy with Data Analytics¶
In this notebook, we analyze smart device usage data to uncover actionable insights that can help shape Bellabeat’s marketing strategy.

We follow a structured, step-by-step data analysis process:

Ask: We define the business problem and key questions to address.
Prepare: We explore the dataset, understand its context, and assess its quality.
Process: We clean and transform the data to make it ready for analysis.
Analyze: We perform exploratory data analysis (EDA) to identify patterns in user behavior and device usage.
Share: We summarize key findings and provide actionable marketing recommendations based on the data.
Our goal is to provide Bellabeat with a data-driven foundation for smarter marketing decisions, particularly focusing on user activity patterns, behavioral segmentation, and customer engagement.

Introduction
Bellabeat is a high-tech manufacturer of wellness smart devices. Their designs primarily focus on women and healthy lifestyles. Currently, Bellabeat aims to deepen their understanding of smart devices consumers to discover opportunities and support data-driven decision-making in marketing strategy.

The report analyzes consumer activity data in global smart device market, which collected from non-Bellabeat to identify the pattern in user behaviour: physical activities, sedentary behavior, and feature engagement. The insigts will provide the marketing team data to:

Target the right user segments
Optimize promotional strategies for increased engagement
Inform product development based on real-world usage patterns

ASK

The right questions is importatnt to ensure the analysis staying aligned with business needs. The general view with problem statements, which pave a direction and goals of the analysis, is defined.

The key is defined as follow:
1. What:
    - Problem: Understand general consumer wellness habits as captured by smart device data to identify growth opportunities and refine product strategy.
    - Goal: Extract actionable insights from analyzed consumer patterns to inform marketing strategy and potential product enhancements, which driving user acquisitions and engagement for Bellabeat and support Bellabeat's ambition to become a larger player in the global smart device market.
2. Who:
    - Who is the stake holder: Urška Sršen (CCO), Sando Mur (key member), marketing team.
    - Who is the target: women customer in smart device market.
3. When:
    - The data is collected between March 12, 2016 - May 12, 2016. This period is several year old.
4. Where:
    - Data source: publicly available "FitBit Fitness Tracker Data" from Kaggle.
    - Geographic Context: unknown, it is considered as applying insights to global market.
5. How:
    - Data Acquisition & Cleaning: Source and preparing the selected FitBit dataset for analysis.
    - EDA: Performing descriptive statistic to understand the distribution and summary of key metrics (activity, sleep, stes, calories, etc.)
    - Pattern Identification: Understand trends, correlation between health metrics, and common behavioral patterns.
    - Segmentation: Segmenting users based on their activity or sleep pattern.
    - Visualization: Creating charts and dashboards to communicate complex findings.
    - Insight Generation & Recommendation: Translate data-driven insight into practical, actionable reccommendation specifically for Bellabeat's ambition, attract and retain their target audience.
6. Why:
    - Gain a Competitive Edge: Understand broader market trends and user preferences beyond their current customer base, identifying what drives engagement in the smart health sector.
    - Unlock New Growth Opportunities: Pinpoint untapped market segments, potential feature gaps, or areas for product innovation that resonate with prevalent consumer habits.
    - Optimize Marketing & Product Strategy: Align Bellabeat's outreach, messaging, and app features more precisely with proven user behaviors and preferences, thereby increasing the effectiveness of marketing campaigns and the value proposition of the Bellabeat app.
    - Inform Data-Driven Decisions: Provide key stakeholders with the necessary insights to make informed strategic decisions regarding product development, marketing spend, and overall market expansion, ensuring Bellabeat's offerings are relevant and highly appealing to health-conscious women

PREPARE

1. Data Collection
The dataset is publicly available from Kaggle with licensed of CC0: Public Domain. This allows the data to be used for various purposes, even for commercial purposes without the permission of the author.

2. Data Understanding
Overview of dataset directory path:

In [5]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns
import os
# --- Define your data folders ---

source_path = 'Dataset'

dir_count = 1
file_count = 1
for dirpath, dirnames, filenames in os.walk(source_path):
    print(f"{dir_count}. Directory: {dirpath}")
    dir_count += 1
    for filename in filenames:
        if filename.endswith('.csv'):
            print(f"  {file_count}. File: {filename}")
            file_count += 1
    file_count = 1  # Reset file count for the next directory

1. Directory: Dataset
2. Directory: Dataset/mturkfitbit_export_4.12.16-5.12.16
3. Directory: Dataset/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16
  1. File: minuteIntensitiesWide_merged.csv
  2. File: dailyActivity_merged.csv
  3. File: sleepDay_merged.csv
  4. File: heartrate_seconds_merged.csv
  5. File: minuteIntensitiesNarrow_merged.csv
  6. File: minuteMETsNarrow_merged.csv
  7. File: hourlySteps_merged.csv
  8. File: hourlyIntensities_merged.csv
  9. File: dailyCalories_merged.csv
  10. File: hourlyCalories_merged.csv
  11. File: minuteSleep_merged.csv
  12. File: minuteCaloriesNarrow_merged.csv
  13. File: dailySteps_merged.csv
  14. File: minuteCaloriesWide_merged.csv
  15. File: minuteStepsNarrow_merged.csv
  16. File: minuteStepsWide_merged.csv
  17. File: weightLogInfo_merged.csv
  18. File: dailyIntensities_merged.csv
4. Directory: Dataset/mturkfitbit_export_3.12.16-4.11.16
5. Directory: Dataset/mturkfitbit_export_3.12.16-4.11.16/Fitabase Data 3.12.16-4.11.16
  1. File: dailyActivity_merged.csv
  2. File: heartrate_seconds_merged.csv
  3. File: minuteIntensitiesNarrow_merged.csv
  4. File: minuteMETsNarrow_merged.csv
  5. File: hourlySteps_merged.csv
  6. File: hourlyIntensities_merged.csv
  7. File: hourlyCalories_merged.csv
  8. File: minuteSleep_merged.csv
  9. File: minuteCaloriesNarrow_merged.csv
  10. File: minuteStepsNarrow_merged.csv
  11. File: weightLogInfo_merged.csv

Several data in this project is stored in two separate CSV file. In general, the data is set into 2 groups:
    - Group 1: from March 12th, 2016 to April 11th, 2016.
    - Group 2: from April 12th, 2016 to May 12th, 2016.

The goal is to understanding the consumer behavior as a whole, so those two dataset will be merged into a single DataFrame.

In [23]:
dir1 = 'Dataset/mturkfitbit_export_3.12.16-4.11.16/Fitabase Data 3.12.16-4.11.16'
dir2 = 'Dataset/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16'

dailyActivity1 = pd.read_csv(os.path.join(dir1, 'dailyActivity_merged.csv'))
dailyActivity2 = pd.read_csv(os.path.join(dir2, 'dailyActivity_merged.csv'))

df = pd.concat([dailyActivity1, dailyActivity2], ignore_index=True)
print('The whole dataset has {} rows and {} columns.'.format(df.shape[0],df.shape[1]))
print('The dataset contains the following columns:')
print(df.columns.tolist())
display(df.head(10))
# Display the first few rows of the DataFrame
print("Data types of each column:")
display(df.info())
# Header of the DataFrame
print("\nSummary statistics of the DataFrame:")
display(df.head())
# Total user count
total_users = df['Id'].nunique()
print(f"\nTotal number of unique users: {total_users}")

The whole dataset has 1397 rows and 15 columns.
The dataset contains the following columns:
['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance', 'LoggedActivitiesDistance', 'VeryActiveDistance', 'ModeratelyActiveDistance', 'LightActiveDistance', 'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes', 'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories']

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886
5,1503960366,3/30/2016,10970,7.16,7.16,0.0,2.36,0.51,4.29,0.0,30,13,223,1174,1820
6,1503960366,3/31/2016,12256,7.86,7.86,0.0,2.29,0.49,5.04,0.0,33,12,239,820,1889
7,1503960366,4/1/2016,12262,7.87,7.87,0.0,3.32,0.83,3.64,0.0,47,21,200,866,1868
8,1503960366,4/2/2016,11248,7.25,7.25,0.0,3.00,0.45,3.74,0.0,40,11,244,636,1843
9,1503960366,4/3/2016,10016,6.37,6.37,0.0,0.91,1.28,4.18,0.0,15,30,314,655,1850

Data types of each column:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1397 entries, 0 to 1396
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        1397 non-null   int64
 1   ActivityDate              1397 non-null   object
 2   TotalSteps                1397 non-null   int64
 3   TotalDistance             1397 non-null   float64
 4   TrackerDistance           1397 non-null   float64
 5   LoggedActivitiesDistance  1397 non-null   float64
 6   VeryActiveDistance        1397 non-null   float64
 7   ModeratelyActiveDistance  1397 non-null   float64
 8   LightActiveDistance       1397 non-null   float64
 9   SedentaryActiveDistance   1397 non-null   float64
 10  VeryActiveMinutes         1397 non-null   int64
 11  FairlyActiveMinutes       1397 non-null   int64
 12  LightlyActiveMinutes      1397 non-null   int64
 13  SedentaryMinutes          1397 non-null   int64
 14  Calories                  1397 non-null   int64
dtypes: float64(7), int64(7), object(1)
memory usage: 163.8+ KB

None

Summary statistics of the DataFrame:

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

Total number of unique users: 35

In [31]:
minuteSleep1 = pd.read_csv(os.path.join(dir1, 'minuteSleep_merged.csv'))
minuteSleep2 = pd.read_csv(os.path.join(dir2, 'minuteSleep_merged.csv'))

minuteSleep1['datetime_full'] = pd.to_datetime(minuteSleep1['date'], format='%m/%d/%Y %I:%M:%S %p')
minuteSleep1['Date'] = minuteSleep1['datetime_full'].dt.date
minuteSleep1['Time'] = minuteSleep1['datetime_full'].dt.time
minuteSleep1.drop(columns=['date','datetime_full'], inplace=True)

minuteSleep2['datetime_full'] = pd.to_datetime(minuteSleep2['date'], format='%m/%d/%Y %I:%M:%S %p')
minuteSleep2['Date'] = minuteSleep2['datetime_full'].dt.date
minuteSleep2['Time'] = minuteSleep2['datetime_full'].dt.time
minuteSleep2.drop(columns=['date','datetime_full'], inplace=True)

display(minuteSleep1.head(10))
display(minuteSleep2.head(10))

           Id  value        logId        Date      Time
0  1503960366      1  11114919637  2016-03-13  02:39:30
1  1503960366      1  11114919637  2016-03-13  02:40:30
2  1503960366      1  11114919637  2016-03-13  02:41:30
3  1503960366      1  11114919637  2016-03-13  02:42:30
4  1503960366      1  11114919637  2016-03-13  02:43:30
5  1503960366      1  11114919637  2016-03-13  02:44:30
6  1503960366      2  11114919637  2016-03-13  02:45:30
7  1503960366      2  11114919637  2016-03-13  02:46:30
8  1503960366      1  11114919637  2016-03-13  02:47:30
9  1503960366      1  11114919637  2016-03-13  02:48:30

           Id  value        logId        Date      Time
0  1503960366      3  11380564589  2016-04-12  02:47:30
1  1503960366      2  11380564589  2016-04-12  02:48:30
2  1503960366      1  11380564589  2016-04-12  02:49:30
3  1503960366      1  11380564589  2016-04-12  02:50:30
4  1503960366      1  11380564589  2016-04-12  02:51:30
5  1503960366      1  11380564589  2016-04-12  02:52:30
6  1503960366      1  11380564589  2016-04-12  02:53:30
7  1503960366      2  11380564589  2016-04-12  02:54:30
8  1503960366      2  11380564589  2016-04-12  02:55:30
9  1503960366      2  11380564589  2016-04-12  02:56:30

In [34]:
minuteSleep1_agg = minuteSleep1.groupby(['Id','Date']).agg(
    from_time = ('Time','min'),
    to_time = ('Time','max'),
    total_sleep = ('value','sum'),
    logId = ('logId','first')
).reset_index()

minuteSleep2_agg = minuteSleep2.groupby(['Id','Date']).agg(
    from_time = ('Time','min'),
    to_time = ('Time','max'),
    total_sleep = ('value','sum'),
    logId = ('logId','first')
).reset_index()

display(minuteSleep1_agg.head(10))
display(minuteSleep2_agg.head(10))

           Id        Date from_time   to_time  total_sleep        logId
0  1503960366  2016-03-13  02:39:30  09:44:30          441  11114919637
1  1503960366  2016-03-14  01:32:00  07:57:00          423  11126343681
2  1503960366  2016-03-15  02:36:00  08:10:00          365  11134971215
3  1503960366  2016-03-16  03:12:00  20:45:00          404  11142197163
4  1503960366  2016-03-17  01:16:00  08:32:00          473  11150938241
5  1503960366  2016-03-18  01:36:00  08:26:00          449  11158035737
6  1503960366  2016-03-19  00:08:30  07:55:30          490  11162426404
7  1503960366  2016-03-20  01:08:00  09:03:00          483  11171977262
8  1503960366  2016-03-21  01:08:00  08:14:00          471  11183536407
9  1503960366  2016-03-23  02:33:30  07:29:30          316  11201455191

           Id        Date from_time   to_time  total_sleep        logId
0  1503960366  2016-04-12  02:47:30  08:32:30          371  11380564589
1  1503960366  2016-04-13  03:08:30  21:43:00          442  11388770715
2  1503960366  2016-04-15  02:59:00  10:20:00          480  11402722600
3  1503960366  2016-04-16  02:11:00  23:59:00          436  11421831252
4  1503960366  2016-04-17  00:00:00  11:18:00          690  11421831254
5  1503960366  2016-04-19  02:06:30  07:25:30          336  11439580762
6  1503960366  2016-04-20  02:01:00  08:17:00          397  11447640793
7  1503960366  2016-04-21  02:32:30  08:35:30          406  11455720858
8  1503960366  2016-04-23  02:23:00  08:46:00          408  11467122444
9  1503960366  2016-04-24  01:57:30  09:25:30          468  11474187653

In [ ]:
minuteStepNarrow1 = pd.read_csv(os.path.join(dir1, 'stepNarrow_merged.csv'))

3. Initial Data Exploration
The dataset contains daily activity metrics which are recorded by a smart device. The metrics and their descriptions are as following:

Id:	Unique identifier for each user
ActivityDate:	Date when the activity was recorded
TotalSteps:	Total number of steps taken by the user in a day
TotalDistance:	Total distance covered in a day (combines both tracked and manually logged activities)
TrackerDistance:	Distance automatically tracked by the device in kilometer (includes all activity levels)
LoggedActivitiesDistance:	Distance manually entered by the user (in kilometer)
VeryActiveDistance:	Distance covered during high-intensity (very active) activities
ModeratelyActiveDistance:	Distance covered during moderate-intensity activities
LightActiveDistance:	Distance covered during low-intensity (light active) activities
SedentaryActiveDistance:	Distance recorded during sedentary state (usually very low or zero)
VeryActiveMinutes:	Time spent in very active activities (in minutes)
FairlyActiveMinutes:	Time spent in moderately active activities (in minutes)
LightlyActiveMinutes:	Time spent in light activities (in minutes)
SedentaryMinutes:	Time spent being sedentary (e.g., sitting or lying down)
Calories:	Total calories burned in a day

4. Data Assessment & Cleaning
4.1. Missing values
    - If the records is missing, additional data should be collected to ensure the sample was representative.
    - If the missing can't be collected, data in the same column should be considered to adjust and fill the missing (mean, median, mode, or a specific value of 0).
    - If nothing can be done, business objective should be reconsidered to align the data.
4.2. Duplicate records
    - If the dupplicate records are found, remove the duplicate rows, which could lead to the overpresentation of data points.
4.3. Incorrect Data Types
    - If a data types is error, it should be converted into the correct data type.
4.4. Inconsistent Data Entry
    - If the incorrect is found, they should be corrected if possible (e.g., formatting issues, unrealistic values)
    - If the incorrect can't be fixed, they should be noted or even excluded from the dataset. But ensure the remaining dataset still meet the sample size requirements for analysis.
4.5. Column Name Issues
    - If the column name is hard to understand, it should be considered to be rename for clarity and consistency.
4.6. Outlier
    - As extreme value can heavily skew average, standard deviations, and statistical model, it can be a result of entry mistake. If the extreme value is found, it should be investigated further, or eliminated before the analysis.

In [20]:
# Display the data types of each column
print("\nSummary statistics of the DataFrame:")
display(df.describe().transpose())
# Display summary statistics of the DataFrame
print("\nMissing values in each column:")
display(df.isnull().sum())

Summary statistics of the DataFrame:

,count,mean,std,min,25%,50%,75%,max
Id,1397.0,4.781210e+09,2.384293e+09,1.503960e+09,2.320127e+09,4.445115e+09,6.962181e+09,8.877689e+09
TotalSteps,1397.0,7.280898e+03,5.214336e+03,0.000000e+00,3.146000e+03,6.999000e+03,1.054400e+04,3.601900e+04
TotalDistance,1397.0,5.219434e+00,3.994206e+00,0.000000e+00,2.170000e+00,4.950000e+00,7.500000e+00,2.803000e+01
TrackerDistance,1397.0,5.192219e+00,3.980077e+00,0.000000e+00,2.160000e+00,4.950000e+00,7.480000e+00,2.803000e+01
LoggedActivitiesDistance,1397.0,1.314810e-01,7.036831e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.727057e+00
VeryActiveDistance,1397.0,1.397416e+00,2.607480e+00,0.000000e+00,0.000000e+00,1.000000e-01,1.830000e+00,2.192000e+01
ModeratelyActiveDistance,1397.0,5.384610e-01,8.674358e-01,0.000000e+00,0.000000e+00,2.000000e-01,7.700000e-01,6.480000e+00
LightActiveDistance,1397.0,3.193407e+00,2.116869e+00,0.000000e+00,1.610000e+00,3.240000e+00,4.690000e+00,1.251000e+01
SedentaryActiveDistance,1397.0,1.703651e-03,7.736033e-03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.100000e-01
VeryActiveMinutes,1397.0,1.967931e+01,3.167588e+01,0.000000e+00,0.000000e+00,2.000000e+00,3.000000e+01,2.100000e+02
FairlyActiveMinutes,1397.0,1.340301e+01,2.640125e+01,0.000000e+00,0.000000e+00,6.000000e+00,1.800000e+01,6.600000e+02
LightlyActiveMinutes,1397.0,1.853729e+02,1.140586e+02,0.000000e+00,1.110000e+02,1.950000e+02,2.620000e+02,7.200000e+02
SedentaryMinutes,1397.0,9.925426e+02,3.132974e+02,0.000000e+00,7.290000e+02,1.057000e+03,1.244000e+03,1.440000e+03
Calories,1397.0,2.266266e+03,7.530055e+02,0.000000e+00,1.799000e+03,2.114000e+03,2.770000e+03,4.900000e+03

Missing values in each column:

Id                          0
ActivityDate                0
TotalSteps                  0
TotalDistance               0
TrackerDistance             0
LoggedActivitiesDistance    0
VeryActiveDistance          0
ModeratelyActiveDistance    0
LightActiveDistance         0
SedentaryActiveDistance     0
VeryActiveMinutes           0
FairlyActiveMinutes         0
LightlyActiveMinutes        0
SedentaryMinutes            0
Calories                    0
dtype: int64

Data Context & Sampling
Link: https://www.demandsage.com/smartwatch-statistics/

The representative of the dataset should be considered before analysis. As Bellabeat's products are aimed to sell globally, the relevant customer should be included in the smartwatch users worldwide.

According to Demandsage, there are 562.86 million smartwatch users globally in 2025, and 40% of them is women, around 225.14 million female users.

With that population, the smallest sample size, which should be enough to make analysis confidently with a 95% confidence level and a 5% margin of error, is 385 samples. It's far larger than the current sample size, 35 users, with a 44.59% confidence level (estimated a 5% margin of error). This sample size of 35 users is not sufficient to respresent the population, which should be noted during interpreting results.

To improve the sample size and enrich the insight quality, the sample size must be increased to sufficient level. It can be done by asking for data from the provider, but it requires authorization, statement of intended use, and organization representation.

The analysis will be proceed with the available dataset as it's sufficient for the primary objective in this case - to practice data analysis in the real-world case.

PROCESS